@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 230px 0 150px;
}

nav ul li {
    display: inline;
    margin: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #474747;
}

.logoname {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.button-primary {
    border-radius: 5px;
    border: none;
    background: #FD6E0A;
    padding: 15px 35px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.btn-call {
    margin: 30px;
    border: 1px solid #FD6E0A;
    background: #FFF8F3;
    color: #FD6E0A;
    border-radius: 5px;
    padding: 15px 35px;
    font-size: 20px;
    font-weight: 700;
}

.details {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details .name {
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin: 5px 0 20 0;
}

.details img {
    width: 584px;
    height: 676px;
}

/* About styles */
.about {
    border-radius: 10px;
    background-color: #FFF8F3;
    width: 1140px;
    height: 550px;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    /* padding: 0 156px 0 156px; */
}

main {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 130px;

}

.about-title {
    padding: 130px 130px 30px 130px;
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.about-details {
    max-height: 120px;
    max-width: 827px;
    text-align: center;
    padding: 0 130px;
    color: #757575;
    font-size: 18px;
}

.user-info {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.info-details {
    text-align: center;
}

.exp-title {
    font-size: 35px;
    font-style: normal;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.exp-title p {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    height: 90px;
    width: 909px;
    margin: 30px auto;
    margin-bottom: 50px;
    text-align: center;
}

/* exp card design */
.exp-card {
    margin: 0 230px 0 230px;
    display: flex;
    justify-content: space-between;
    padding: 33px;
}

.common {
    border-radius: 5px;
    background: #fff;
    height: 377px;
    width: 267px;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06); 
    width: 260px;
    height: 370px;
}
.common p{
    /* width: 201px; */
    width: 201px;
    height: 196px;
    color: var(--Dark-03, #757575);
font-size: 16px;
font-weight: 400;
margin: 30px;
}
.common h2{
    margin: 30px;
}
.common img{
    margin-left: 30px;
}